/* GENERAL */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font: 400 15px arial;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}
ul, li {
    list-style-type: none;
}
.container {
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}
.container:after {
    content: '';
    display: table;
    clear: both;
}
.flexbox {
    display: flex;
}
img {
    border: 0;
    font-size: 0;
    line-height: 0;
    max-width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
    outline: 1;
}
/* HEAD */
.top-header {
    padding: 8.5px 0;
    border-bottom: 1px solid #e5e5e5;
}
.main-nav {
    width: 100%;
    float: left;
    clear: both;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(.7,1,.7,1);
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.main-nav .parent {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.main-nav .parent li {
    margin-right: 15px;
    position: relative;
    font-weight: 600;
    color: #4f4f4f;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: cubic-bezier(.7,1,.7,1);
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}
.main-nav .parent li a {
    padding: 16.5px 0;
    display: block;
    white-space: nowrap;
}
/* BODY */
.col-left-top {
    width: 780px;
}
.col-right-top {
    width: 320px;
    padding-left: 20px;
}
.thumb-art {
    width: 520px;
    margin: 0 20px 0 0;
    float: left;
}
.title-news {
    width: auto;
    float: none;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.article-topstory {
    width: 100%;
    background: #f7f7f7;
    padding-right: 20px;
    float: left;
}
.description {
    clear: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
}
.meta-news {
    margin-top: 10px;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    line-height: 140%;
    color: #757575;
}
.sub-news-top {
    margin-top: 20px;
    padding-top: 15px;
    width: 100%;
    padding-left: 0;
    height: auto;
    clear: both;
}
.list-sub-feature {
    width: calc(100% + 20px);
    margin-left: -20px;
}
.list-sub-feature li {
    width: 32.5%;
    float: none;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.title_news {
    font-size: 15.5px;
    font-weight: 700;
    line-height: 150%;
}

.section_stream_home .col-left {
    padding-right: 20px;
    width: 400px;
}
.section_stream_home .col-right {
    padding-left: 20px;
    width: 700px;
}
.has_border {
    margin-top: 20px;
    padding-top: 20px;
}
.has_border:before {
    width: calc(100% - 30px);
    background: #e5e5e5;
    height: 1px;
    position: absolute;
    top: 0;
    left: 15px;
    content: '';
}
.item-news {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding-top: 15px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.item-news:first-of-type {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
/* BUSINESS */
.inner-box-business {
    margin: 40px 0 40px 0;
    background: #F7F7F7;
    position: relative;
}
.inner-box-business:before {
    content: '';
    background: #F7F7f7;
    position: absolute;
    top: -20px;
    left: -15px;
    right: -15px;
    bottom: -20px;
    border: 1px solid #e5e5e5;
    z-index: 0;
}
.title-box-category {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
    color: #222;
}
.inner-title {
    display: inline-block;
    position: relative;
}
.title-box-category .inner-title:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #9f224e;
    position: absolute;
    left: 0;
    bottom: -5px;
}