table {
    width: 1200px;
    border: 0;
    margin: 0 auto;
}
.tb-content, .tb-content th, .tb-content td {
    border: 1px solid black;
    border-collapse: collapse;
}
.title {
    background: dodgerblue;
    font-size: 24px;
    padding: 10px;
    color: white;
    position: relative;
}
.menu a {
    width: 150px;
    padding: 10px;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.menu a:hover {
    background: #3c3cdb;
}
.user-panel {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
}
.user-panel form {
    display: inline-block;
}

